/* ===== Reset e básico ===== */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
  color: #eee;
}


/* ===== Navbar ===== */
.navbar-collapse.show {
  background-color: #212529;
  border-radius: 0 0 8px 8px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #646cff;
}

/* ===== MovieDetail ===== */
.container {
  color: #eee;
}

p,
small {
  color: #ddd;
}

.movie-synopsis {
  line-height: 1.5;
  font-size: 1rem;
  color: #ddd;
}

.elenco-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  justify-items: center;
}

.elenco-card {
  text-align: center;
  max-width: 120px;
}

.elenco-card img {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
  border-radius: 8px;
  max-height: 140px;
  width: auto;
}

.elenco-card img:hover {
  transform: scale(1.05);
}

.elenco-card small {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ccc;
  font-weight: 600;
}

.elenco-card .character {
  font-size: 0.85rem;
  color: #999;
  white-space: normal;
  font-weight: 400;
  margin-top: 0.15rem;
}


/* ===== No Result ===== */

.no-results {
  max-width: 600px;
}



@media (min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ===== Movie Card ===== */
.movie-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

.movie-card img {
  transition: transform 0.3s ease;
}

.movie-card:hover img {
  transform: scale(1.05);
}


/* ===== Prefer color scheme light ===== */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}